<div class="detail-main">
  <h2>ProductAppとは</h2>
  <p>
  </p>
  <p>
    あらゆる商品情報取り扱いサービスです。
    各商品について、「商品画像」「商品タイトル」「商品説明」「値段」の登録、検索、変更、削除が簡単にできます。
  </p>
  <img class="detail-img" src="9da718926e0b0a668f618f5e291cbba1_m.jpg">
</div>

