<h1>ProductsApp</h1>
<!<p>Find me in app/views/home/top.html.erb</p>-->


<<header>
  <div class="header-logo">
    <a href="/top">ProductApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="detail">商品一覧</a></li>
  </ul>
</header>


<div class="main top-main">
  <div class="top-message">
    <h3>あらゆる商品情報はおまかせ！</h3>
  </div>
</div>